.custom-modal {
	background: #ffffff;
	border-radius: 12px;
	padding: 30px;
	max-width: 400px;
	margin: auto;
	position: relative;
	z-index: 1000;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
}

.custom-overlay {
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 500;
}

.custom-modal h2 {
	margin-bottom: 20px;
	font-family: "Arial", sans-serif;
	color: #333;
}

.custom-modal form {
	display: flex;
	flex-direction: column;
}

.custom-modal label {
	margin-bottom: 5px;
	font-weight: bold;
	color: #555;
}

.custom-modal input {
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 25px;
	margin-bottom: 15px;
	transition: border-color 0.3s;
}

.custom-modal input:focus {
	border-color: #007bff;
	outline: none;
}

.custom-modal button {
	padding: 10px;
	border: none;
	border-radius: 5px;
	border-color: #000000;
	background-color: #ffffff;
	color: rgb(0, 0, 0);
	cursor: pointer;
	margin-top: 10px;
	transition: background-color 0.3s;
}

.custom-modal button:hover {
	background-color: #252626;
}


.custom-modal button[type="button"]:hover {
	background-color: #252626;
	color: #fff;
}

.custom-modal .modal-header .btn-close {
    background-color: #ffffff; /* Customize background color */
    border-radius: 50%; /* Make it circular, if needed */
    color: #fff; /* Customize the text color */
    border: none; /* Remove the border */
    padding: 8px; /* Adjust padding */
    transition: background-color 0.3s ease; /* Add a smooth transition */
}

.custom-modal .modal-header .btn-close:hover {
    background-color: #c62828; /* Change hover effect */
}


.custom-link-button {
  color: inherit;
  text-decoration: none;
}

.custom-link-button:hover {
  color: rgb(255, 255, 255); /* Text turns blue on hover */
}