@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideInLeft {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInRight {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fadeInUp {
	from {
		transform: translateY(20px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

/* Add smooth hover transitions */
.custom-button,
.service-card,
.testimonial-card {
	background-color: #1a092a;

	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bcustom-button:hover,
.service-card:hover,
.testimonial-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.animate-fade-in {
	opacity: 0;
	transform: translateY(20px);
	animation: fadeInUp 1.5s forwards;
}

@keyframes fadeInUp {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Button styles */
.custom-button {
	transition: background-color 0.3s ease, color  0.3s ease, transform 0.3s ease;
	/* Smooth transitions for background color, text color, and transform */
}

.custom-button:hover {
	background-color: #1a092a;
	/* Change background color on hover */
	color: #ffffff;
	/* Change text color on hover */
	transform: scale(1.05);
	/* Slightly enlarge the button on hover */
}

.button-in:hover {
	background-color: #1a092a;
	color: white;
	/* border: 0.8px solid #28a745; */
}
