.mb-2 {
    color: 'black';
    background-color: '#f8f9fa';
}
/* Navbar.css */
.sticky-top {
    z-index: 1030;
    /* Ensure it stays on top of other content */
    transition: background-color 0.3s ease;
    /* Smooth background color transition */
}

/* Optional: Change the background color when scrolled */
.sticky-top.scrolled {
    background-color: rgba(248, 249, 250, 0.95);
    /* Slightly transparent */
}

.offcanvas-header {
    background-color: #f8f9fa;
}

.offcanvas-body {
    padding: 20px;
}

.nav-link:hover {
    background-color: #e9ecef;
    /* Light grey background on hover */
    border-radius: 5px;
    /* Rounded corners on hover */
}